# Data
data/*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Power BI
*.pbix

# Generated SQL data dump (too large for GitHub)
docs/scripts/transactions_inserts.sql

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# vscode 
.vscode/*